body {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0;
  background: #6A86B1;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 70%;
  height: 67%;

  background: #FFFFFF;

  padding: 26px;
  border-radius: 12px;
}

h1 {
  color: #4861B9;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #A1A3A3;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section {
  display: flex;

  height: 100%;
}

h2 {
  color: #A1A3A3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}